.sidebar__container {
  /* padding: 20px; */
  /* border: 2px solid black; */
  /* flex: 0.3; */
  /* width: 20%; */
}

.sidebar__tweet__button {
  background-color: var(--twitter-color) !important;
  border: none !important;
  outline: none !important;
  color: white !important;
  font-weight: 900 !important;
  text-transform: inherit !important;
  border-radius: 100px !important;
  height: 50px !important;
  margin-top: 20px !important;
}

.twitterIcon {
  color: var(--twitter-color);
  font-size: 35px !important;
}

/* .hashtagIcon {
  font-size: 40px !important;
  background-color: red;
} */
