.sidebar__container {
  /* padding: 20px; */
  /* border: 2px solid black; */
  /* flex: 0.3; */
  /* width: 20%; */
}

.twitterIcon {
  color: var(--twitter-color);
  font-size: 35px !important;
}

/* .hashtagIcon {
  font-size: 40px !important;
  background-color: red;
} */
