@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.sidebar__tweet__button {
  background-color: var(--twitter-color) !important;
  border: none !important;
  outline: none !important;
  color: white !important;
  font-weight: 900 !important;
  text-transform: inherit !important;
  border-radius: 100px !important;
  height: 50px !important;
  margin-top: 20px !important;
  margin-left: 10px !important;
  margin-right: 10px !important;
}

* {
  -webkit-tap-highlight-color: transparent;
}
